body{
    background: #000000 url(../img/bg3.jpg) no-repeat center/ cover;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'play', 'helvectica','arial', sans-serif;
    box-sizing: border-box;
    color: #c9b293;
}

header{
    margin-left: 50px;
    display: flex;
    margin-top: 40px;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    margin: 0 auto 50px;
}

main{
    display: flex;
}

article{
    max-width: 70%;
}

.main-line {
    margin: 25px 0 0 50px;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

input{
    border-radius: 5px;
    background-color: #c9b293;
    font-size: 40px;
    padding: 20px 10px;
    color: #391A05;
    border: #391A05 2px solid;
    text-align: end;
}

input:focus{
    background-color: #feffcd;
    box-shadow: 4px 4px 8px rgba(255, 210, 123, 0.6);
}

.name{width: 70%;}

.sum{width: 10%;}

.plus{width: 8%;}

.add{
    margin: 0 10px;
    text-align: center;
}

.split{
    font-size: 40px;
    margin: auto 20px;
}

button{
    border-radius: 5px;
    background-color: #c9b293;
    font-size: 40px;
    color: #391A05;
    border: #391A05 2px solid;
    cursor: pointer;
}

button:hover{background-color: #796b58;}

aside{
    margin-left: 100px;
    width: 30%;
    border: #391A05 2px solid ;
    background-color: rgba(0,0,0,0.3);
    max-height: 690px;
}

aside > p {
    font-size: 20px;
}

.time {
    margin-left: 90px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.timer-add{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}

.timer-add > button {
    width: 200px;
    margin-left: 20px;
    text-align: center;
}

#aside-timer {
    margin: 50px 0;
    font-size: 150px;
    text-align: center;
}

.timer-run{
    display: flex;
    justify-content: space-between;
    margin: 0 180px;
}

.timer-run > button {
    text-align: center;
    font-size: 50px;
    padding: 10px;
    text-transform: uppercase;
}

.duration{
    font-size: 25px;
    margin-top: 50px;
    margin-left: 100px ;
}

.bank{
    font-size: 25px;
    margin-left: 100px ;
}

footer{
    /*border: greenyellow 3px solid;*/
    margin-top: 50px;
    padding-left: 245px;
    display: flex;
    justify-content: center;
}